**/.DS_Store

# ignore everything except the main files so the user can put whatever other files in here
*.mse-set
*.mse-set.bak
/sets/*
/files/*
/set symbols/*

# ignore everything with magic-mainframe-extras
/data/magic-mainframe-extras.mse-include/*

# include the include file and readme
!/data/magic-mainframe-extras.mse-include/include
!/data/magic-mainframe-extras.mse-include/readme.txt

# include the specific example files
!/data/magic-mainframe-extras.mse-include/examples
!/data/magic-mainframe-extras.mse-include/examples/*

# include mainframe shared files until we relocate them
!/data/magic-mainframe-extras.mse-include/mfsfiles
!/data/magic-mainframe-extras.mse-include/mfsfiles/*
